{% extends 'core/base.html' %}
{% block content %}
<div class="mt-5">
    <h1 class="text-warning mb-5 border-bottom">Class X</h1>
    <p><b class="text-warning h3">CRESCENT PUBLIC SCHOOL, BOKARO(JHARKHAND)</b></p>
    <div class="text-white h4">
        <p><b>CGPA : </b><strong>9.2</strong></p>
    </div>

    <h1 class="text-warning mb-5 border-bottom">Class XII</h1>
    <p><b class="text-warning h3">ST.JOSEPH PUBLIC SCHOOL, KOTA(RAJASTHAN)</b></p>
    <div class="text-white h4">
        <p><b>PERCENATGE : </b><strong>76.4</strong></p>
    </div>

    <h1 class="text-warning mb-5 border-bottom">COLLEGE</h1>
    <p><b class="text-warning h3">SHRI MATA VAISHNO DEVI UNIVERSITY, KATRA(J&K)</b></p>
    <div class="text-white h4">
        <p><b>CGPA : </b><strong>6.41</strong></p>
    </div>
</div>
{% endblock content %}